<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DashboardEditor</title>
	<link rel="stylesheet" type="text/css" href="/public/css/DashboardEditor.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="Menu-left">
			<div class="Avatar border-bot">
				<p>
				Editor: {{cname}}
				</p>
				<div class="avatar-picture">
					<img src="../images/avatar_writer.jpg" alt="">
				</div>
				<p class="nameWitter">
					Phạm Ngọc Sơn
				</p>				
			</div>
			<div class="navigation">
				<nav>
					<ul>					
						<li>
							<i class="far fa-file-alt icon"></i>
							<a href="#">Danh Sách Bài Viết </a>
							<i class="fas fa-angle-down icon"></i>
							<ul>
								<li id="li-cho-xuat-ban">
									<a href="#">Chờ xuất bản</a>
								</li>
								<li id="li-da-xuat-ban">
									<a href="#">Đã xuất bản</a>
								</li>
								<li id="li-cho-kiem-duyet">
									<a href="#">Chưa được duyệt</a>
								</li>
								<li id="li-bi-tu-choi">
									<a href="#">Bị từ chối</a>
								</li>									
							</ul>
						</li>						
					</ul>
				</nav>
			</div>
		</div>
		<div class="Content-right">
			<div class="header-container">
				<ul class="nav-right">										
					<li class="user_dashboard item-nav-right">
						<img src="../images/avatar_writer.jpg" alt="">
						<ul id="user-drop-down-menu" class="drop-down-menu">
							<li class="drop-down-item">
								<a href="">
									<i class="fas fa-cog"></i>
									Cài đặt
								</a>
							</li>
							<li class="drop-down-item">
								<a href="">
									<i class="far fa-id-card"></i>
									Thông tin tài khoản
								</a>
							</li>							
							<li class="drop-down-item">
								<a href="">
									<i class="fas fa-sign-out-alt"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>			
			<div class="DanhSachBaiVietDashboard panel">
				<p class="TieuDeTrang">Danh sách bài viết đã xuất bản</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên bài viết</td>
							<td>Chuyên mục</td>							
							<td>Ngày đăng</td>
						</tr>
						{{#each arts2}}		
						<tr>
							<td>{{stt}}</td>
							<td>{{title}}</td>
							<td>{{cname}}</td>						
							<td>{{format date_post}}</td>							
						</tr>
						{{/each}}
					</table>
				</div>
				
			</div>
			<div class="DanhSachBaiVietBiTuChoiDashboard panel">
				<p class="TieuDeTrang">Danh sách bài viết bị từ chối</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên bài viết</td>
							<td>Chuyên mục</td>					
							<td>Nguyên nhân</td>
						</tr>
						{{#each arts3}}		
						<tr>
							<td>{{stt}}</td>
							<td>{{title}}</td>
							<td>{{cname}}</td>						
							<td>{{refuse}}</td>							
						</tr>
						{{/each}}								
					</table>
				</div>
				
			</div>
			<div class="DanhSachBaiVietChoXuatBaniDashboard panel">
				<p class="TieuDeTrang">Danh sách bài viết đã kiểm duyệt & chờ xuất bản</p>
				<div class="data-table">
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên bài viết</td>
							<td>Chuyên mục</td>							
							<td>Thời gian dự định xuất bản</td>
						</tr>
						{{#each arts1}}		
						<tr>
							<td>{{stt}}</td>
							<td>{{title}}</td>
							<td>{{cname}}</td>							
							<td>{{format date_post}}</td>	
						</tr>
						{{/each}}										
					</table>
				</div>
				
			</div>
			<div class="DanhSachBaiVietChoKiemDuyetDashboard panel">
				<p class="TieuDeTrang">Danh sách bài viết chưa được duyệt</p>
				<div class="data-table">
					
					<table border="1px" class="table-danh-sach-bai-viet">
						<tr id="header-table">
							<td>STT</td>
							<td>Tên bài viết</td>
							<td>Chuyên mục</td>	
							<td>Kiểm duyệt</td>					
							<td>Xem bài viết</td>
						</tr>
						{{#each arts4}}		
						<tr>
							<td>{{stt}}</td>
							<td>{{title}}</td>
							<td>{{cname}}</td>
							<td>
								<button type="submit" class="btn-chap-nhan" onclick="window.location.href='/editor/{{id_cat}}/{{id}}/accept'">
									<i class="fas fa-check"></i>
								</button>
								<button type="submit" class="btn-tu-choi" onclick="window.location.href='/editor/{{id_cat}}/{{id}}/refuse'">
									<i class="fas fa-times"></i>
								</button>
							</td>													
							<td>
								<button class="btn-xem-bai-viet" onclick="window.location.href='/editor/{{id_cat}}/{{id}}'">Xem bài viết</button>
							</td>
						</tr>
						{{/each}}				
					</table>
					
				</div>				
			</div>			
		</div>
	</div>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/DashboardEditor.js"></script>
</body>
</html>