<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/public/css/CacTinChuyenMuc.css">
<div class="ListTinTuc">
<p class="TieuDeChuyenMuc">{{cname}}</p>
<!--Cac Bai Viet -->
{{#each articles}}
<article class="border-bot">
			<img src="{{image}}" alt="">
			<a href="/article/{{id}}">
				<p class="TieuDeBaiViet">{{title}}</p>
			</a>
			<div class="ThoigianBinhLuanChiase">
				<i class="far fa-clock"></i>
				{{format date_post}}			
			</div>
			<p class="MoTaBaiViet">{{abstract}}</p>
</article>
{{/each}}
<div class="Pagination">
			<ul>
				{{#if_equal pre 0 }}
				<li>
					<a class="block"></a>
				</li>
				{{else}}
				<li>
					<a href="?page={{pre}}"><</a>
				</li>
				{{/if_equal}}
				{{#each this.pages}}
				{{#if active}}
				<li>
					<a class="active" href="javascript:;">{{value}}</a>
				</li>
				{{else}}				
				<li>
					<a href="?page={{value}}">{{value}}</a>
				</li>
				{{/if}}
				{{/each}}
				{{#if_equal page nPages}}
				<li>
					<a class="block"></a>
				</li>
				{{else}}
					{{#if_equal nPages 0}}
					<li>
						<a class="block"></a>
					</li>
					{{else}}
					<li>
						<a href="?page={{next}}">></a>
					</li>
					{{/if_equal}}				
				{{/if_equal}}
			</ul>
</div>
</div>