<link rel="stylesheet" type="text/css" href="/public/css/NoiDung.css">
<div class="container">
		<div class="content">
			<img src="{{article.image2}}" alt="">
			<h2>
				{{article.title}}
			</h2>
			<div class="ThongTinbaiViet border-top border-bot">
				<i class="far fa-clock"></i>
				{{format article.date_post}}


			</div>
			{{{article.content}}}
		
			
			
			Bạn có thích bài viết này?
			<br>
			<button>
				<button class="btnFacebook">
					<i class="fab fa-facebook-f"></i>
					Chia sẻ facebook
				</button>
				<button  class="btnGoogle">
					<i class="fab fa-google" id="iconbtnGoogle"></i>
					Chia sẻ google
				</button>
			</button>
		</div>
		<!-- Box Binh Luan Bai Viet -->
		<div class="BinhLuanBox">
			<h4>
				Bình luận
			</h4>
			<textarea class="NoiDungBinhLuan">
				
			</textarea>
			<button class="btnGuiBinhLuan">
				Gửi bình luận
			</button>
			<div class="DanhSachBinhLuan">
				{{#each comments}}
				<article>
					<div class="avatar">
						<img src="{{image_reader}}" >
					</div>
					<div class="data-comment">
						<p class="name">{{name_reader}}&ensp;17/10/2018</p>
						<p class="noidung">{{content}}</p>
					</div>
				</article>
				{{/each}}
			</div>
		</div>
		
		<div class="BaiVietKhac">
			<div class="BaiVietLienQuan">
				
			</div>
		</div>	
</div>
